$bg: #282a36;
$accent: #44475a;
$grey: #6272a4;
$fg: #f8f8f2;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

* {
  -webkit-user-select: none;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: sans-serif;
  margin: 0;
  height: calc(100vh);
  font-size: 14px;
  line-height: 1.7;
  color: $fg;
}
textarea {
  background-color: transparent;
  border: 0 none;
  resize: none;
}

.wrapper {
  padding: 16px;
}

.section {
  border: 1px solid $accent;
  border-radius: 10px;
  padding: 16px;
}

.btn {
  border: 0 none;
  padding: 10px;
  border-radius: 4px;
  background-color: $cyan;
}
